page-scan {
	.scan-container .info {
		width: 90%;
		margin: 0 auto;
	}
	.scan-container {
		text-align: center;
		margin-bottom: 15%;
	}
	.scan-container img {
		width: 60%;
		margin: 10%
	}
	.scan-container h4 {
		color: #33539d;
	}
}