<!--
  Generated template for the AddbundlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add bundle manual</ion-title><button ion-button menuToggle right  >
        <ion-icon name="menu"></ion-icon>
      </button> 
  </ion-navbar>

</ion-header>
<ion-content padding> 
   
  <form class="page-bundle" (ngSubmit)="addbundle()" #AddbundleForm="ngForm">
      
   <ion-list>
      <ion-item>
          <ion-label color="" stacked>GameName</ion-label>
          <ion-input class="addbundle-input" placeholder="GameName" [(ngModel)]="bundle.GameName" name="GameName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="" stacked>PacketId</ion-label>
            <ion-input class="addbundle-input" placeholder="PacketId" [(ngModel)]="bundle.PacketId" name="PacketId"></ion-input>
          </ion-item>
      <div class="addbundle-input">
          <p >Quantity</p>
          <div> <ion-badge *ngFor="let n of qauntitylist" (click)="qauntityselect(n)" [ngClass]="{qauntityselected: isqauntityActive(n)}">{{n}}</ion-badge>
           </div>
      </div>
      <div class="addbundle-input">
          <p >Cost</p>
          <div> <ion-badge *ngFor="let n of costlist" (click)="costselect(n)" [ngClass]="{costselected: iscostActive(n)}">{{n}}</ion-badge>
          </div>
      </div>
     
     
     <!--  <ion-item>
         <p>PacketId</p>
         <h2>{{scancomplete.PacketId}}</h2>
      </ion-item>
      <ion-item>
         <p>Cost</p>
         <h2>${{scancomplete.Quantity}}</h2>
      </ion-item>
      <ion-item>
         <p>Quantity</p>
         <h2>{{scancomplete.Quantity}}</h2>
      </ion-item> -->
   </ion-list>
   <button ion-button full type="submit">Add Bundle</button>
 </form>
   
</ion-content>
