page-completeinventory {
	.item-inner,
	.item-block,
	.label {
		padding: 0 !important;
		margin: 0 !important
	}
	.card-header {
		border-bottom: 1px solid #ececec;
	}
	.topbotder {
		border-bottom: 0;
		border-top: 1px solid #ececec;
	}
	.label {
		color: #aeacb4;
		font-size: 1.5rem;
	}
	.topbotder .label,
	.note {
		font-weight: 600;
		color: #333;
		font-size: 1.7rem !important;
	}
}